.postCreate {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 2vh;
}

.postCreate h1 {
    font-size: 5vh;
    margin-top: 4vh;
    margin-bottom: 1vh;
    color: #71BFFF;
}

.postCreate p {
    color: rgb(255, 65, 65);
}

.contentField {
    margin-top: 1.5vh;
}

.postDecideButton {
    margin-top: 0.5vh;
}