.introFieldTitle {
    font-size: 2vw;
    color: #FF9B83;
}

.editIntroField {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between; /* 縦方向に均等配置 */
    height: 100%; /* 高さを確保（親要素が適切な高さを持つことを確認） */
}