.postContent {
    padding: 2vw;
}

.contentBG {
    height: 59vh;
    background-color: rgba(0, 0, 0, 0.654);
    padding: 1vw;
    border-radius: 20px;
    overflow-y: auto; 
}

.contentText {
    font-size: 1.5vw;
    color: #FFFFFF;
    line-height: 1.8;
} 