.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 4vh;
}

.profileButtons {
    display: flex;
    justify-content: space-between;
    gap: 20vw;
    margin-top: 3vh;
}

.line {
    border-top: 0.25vh solid rgba(0, 0, 0, 0.3);
    width: 100vw;
}

.userStatus {
    display: flex;
    justify-content: space-between;
    margin-left: 12.5vw;
}

.profileUnder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
