.signIn {
    height: 90vh;
    display: flex;
    justify-content: column;
    align-items: center;
    transform: translateY(-4%);
}

.panel {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    height: 52vh;
    width: 52vw;
}

.switchButton {
    display: flex;
    justify-content: center;
}

.signInPostButton {
    display: flex;
    justify-content: center
}